<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="container p-4"></div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('assets/shop/img/index.png') }}" alt="Sylius logo" class="ui small image" /></a>
        </div>
    </div>
</footer>
