<div class="ui basic segment">

    <div class="ui three column stackable grid">
        {{ sylius_template_event('sylius.shop.layout.header.grid') }}
    </div>
    <div class="column">
        <h1>Stolidbug est passer par la  ^^</h1>
    </div>
</div>
